<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sharkey Chen的主页</title>

    <link rel="stylesheet" type="text/css" href="">
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,700,700i|Josefin+Sans:700" rel="stylesheet">
    <link href="/static/assets/css/main.css" rel="stylesheet">
    <link rel="icon" href="/static/assets/images/logo.jpeg">
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">

</head>

<body>
    <div id="index">                                           <!-- Index starts here -->
        <div class="container main">
            <div class="row home">
                <div id = "index_left" class="col-md-6 left">
                    <img class="img-responsive img-rabbit1" src="/static/assets/images/2.jpg" >
                </div>
                <div id = "index_right" class="col-md-6 text-center right">
                    <div class="logo">
                        <img src="/static/assets/images/logo.jpg" style="width:111px;">
                        <h4>I am Sharkey Chen</h4>
                    </div>
                    <p class="home-description">
                        你好，我是陈哲，来自<br>中国石油大学（北京）的一位即将大四在读本科生。我对开发和互动充满热情。<br>Life is fantastic
                    </p>
                    <div class="btn-group-vertical custom_btn animated slideinright">
                        <div id="about" class="btn btn-rabbit">关于我</div>
                        <div id="work" class="btn btn-rabbit">项目经历</div>
                        <div id="contact" class="btn btn-rabbit">留言板</div>
                    </div>      
                </div>
            </div>
        </div>
    </div>                                                      <!-- index ends here -->

    <div id="about_scroll" class="pages ">                      <!-- about strats here  -->
        <div class="container main">
            <div class="row">
                <div class="col-md-6 left" id="about_left">
                    <img class="img-responsive img-rabbit2" src="/static/assets/images/1.jpg">
                </div>

                <div class="col-md-6 right" id="about_right">
                    <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回首页</a>
                    <div id="watermark">
                        <h2 class="page-title" text-center>About Me</h2>
                        <div class="marker">a</div>
                    </div>
                    <p class='subtitle'>你好，我是陈哲
                    </p>
                    <p class="info">"本人诚实肯干，动手与学习能力强，能吃苦耐劳，对工作认真负责，诚恳，有耐心，懂得团队合作，执行力强，通过学习不断增加自己的个人能力。我怀着自信推荐自己，如果有幸成为贵公司的一员，我愿将从底做起，发挥自己的主动性极能力，竭诚为公司的发展增添光彩，希望贵公司给我一个发展的机会，与贵公司共同发展，共同进步。"</p>  
                    <br>
                    <hr>
                    <p class='subtitle'>获奖荣誉</p>
                    <ul class="info">
                        <li>中国石油大学（北京）大庆油田奖学金</li>
                        <li>ACM-ICPC2017青岛站铜奖</li>
                        <li>第八届蓝桥杯全国软件和信息技术专业人才大赛北京赛区C/C++A组三等奖</li>
                        <li>第九届蓝桥杯全国软件和信息技术专业人才大赛北京赛区C/C++A组二等奖</li>
                        <li>2018年中国高校计算机大赛-团体程序设计天梯赛北京市组一等奖</li>
                        <li>2018年中国高校计算机大赛-团体程序设计天梯赛全国二等奖</li>
                    </ul>
                </div>
            </div>
        </div>            
    </div>                                                                <!-- About ends here -->

    <div id="work_scroll" class="pages">                                  <!-- Work starts here -->
        <div class="container main">
            <div class="row">
                <div class="col-md-6" id="work_left">
                    <img class="img-responsive img-rabbit2" src="/static/assets/images/4.jpg">
                </div>

                <div class="col-md-6" id="work_right">
                  <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i>返回首页</a>
                  <div id="watermark">
                    <h2 class="page-title" text-center>Project experience</h2>
                    <div class="marker">w</div>
                </div>
                <p class='subtitle'>个人的项目经历如下
                </p>
                <ul class='info'>
                    <li>基于Django框架的模拟盘开发（个人）（完成度50%）<br>
                    框架配置完成，登陆、注册功能及前端页面完成，能够顺利连接数据库，但是前端曲线图的UI不够美观，个人信息还未设计，尚未部署到服务器</li>
                    <li>基于python的模拟量化交易（个人）（完成度90%）<br>
                    项目目的摘取某一支股票的历史股价，通过一定的算法买入，卖出以及止损，每天计算收益率和仓位，并图形化。最后通过机器学习的方法来调整参数，基本完成</li>
                    <li>基于Spring Boot的微信社区公众号前端和后端开发（组队）(完成度100%)<br>
                    我完成了场馆预约和相应的后台管理的页面以及前后端接口。同时还负责实现Dao层和Service层来保证和数据库的连接</li>
                    <li>基于U3D的场景（小海岛）设计（个人）（完成度100%）<br>
                        模型和材质包都是取自于网络，我个人实现了水面波动以及反射效果的脚本、相机自由移动以及视角移动的脚本、水中生物移动脚本
                    </li>
                </ul>
                <p class='subtitle'>现在我更倾向于做后端的开发，以及API的设计</p>
            </div>
        </div>
    </div>    
</div>                                                                 <!-- Work ends here  -->


<div id="contact_scroll" class="pages">                             <!-- Contact starts here -->
    <div class="container main">
        <div class="row">
            <div class="col-md-6 left" id="contact_left">
                <img class="img-responsive img-rabbit4" src="/static/assets/images/5.jpg">
            </div>

            <div class="col-md-6 right" id="contact_right">
                <a href="#index" class="btn btn-rabbit back"> <i class="fa fa-angle-left" aria-hidden="true"></i> 返回首页</a>
                <div id="watermark">
                    <h2 class="page-title" text-center>Leaving a message</h2>
                    <div class="marker">c</div>
                </div>
                <p class='subtitle'>如果你觉得我还不错，就快来给我留言吧！
                </p>
                <!-- form -->
                <form class="form_edit" id="mes_info">
                    <div class="form-group">
                        <input type="name" name="name" class="form-control" id="exampleInputName" placeholder="姓名">
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="邮箱（不会显示在留言板里）">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="message" rows="5" id="message" placeholder="留言"></textarea>
                    </div>

                    <div class="form-group">
                        <div id="mpanel"></div>
                    </div>
                    <button type="button" id="send" class="btn btn-rabbit submit">发送</button>
                </form>
            </div>
        </div>
    </div>

    <div id = "messageBoard" class= "container main">
        <div id="conn" class="">
            <p class='subtitle'>历史留言</p>
            <div class="" style="z-index:2;"></div>
             <ol id = "messageList">

            </ol>
        </div>
    </div>



</div>                                                              <!-- Contact ends here -->
<script src="/static/assets/js/jquery-3.1.0.min.js"></script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<script src="/static/assets/js/script.js"></script>
<script type="text/javascript" src="/static/assets/js/verify.js"></script>
<script src="/static/assets/live2dw/lib/L2Dwidget.min.js"></script>
{#    live2d#}
<script type="text/javascript">
    L2Dwidget.init({
        pluginRootPath: "live2dw/",
        pluginJsPath: "lib/",
        pluginModelPath: "assets/",
        tagMode: !1,
        debug: !1,
        model: {
            scale: 1,
            jsonPath: "/static/assets/live2dw/assets/asuna_33.model.json"
        },
        display: {
            position: "left",
            width: 100,
            height: 180,
            hOffset: -10,
            vOffset: 0
        },
        mobile: {
            show: !1
        },
        log: !1
    });


</script>

{#    发送留言#}
<script type="text/javascript">
    function Send() {
        var name = $("#exampleInputName").val();
        var email = $("#exampleInputEmail1").val();
        var message = $("#message").val();
        if(name == "")
        {
            alert("请输入姓名");
            $("#mes_info").name.focus();
            return ;
        }
        if(email == "")
        {
            alert("请输入邮箱");
            $("#mes_info").email.focus();
            return ;
        }
        if(message == "")
        {
            alert("请输入留言信息");
            $("#mes_info").message.focus();
            return ;
        }
        $.ajax({
            type:"POST",
            url:'/leaveMessage/',
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',
            data:{
                name:$("#exampleInputName").val(),
                email:$("#exampleInputEmail1").val(),
                message:$("#message").val()
            },
            success:function(data){
                if(data == "yes"){
                    alert("留言成功！");
                    $("#exampleInputName").val("");
                    $("#exampleInputEmail1").val("");
                    $("#message").val("");
                    $("#verify-code").val("");
                }
                else{
                    alert("留言失败！");
                }
                getMessageList();
            }

        });

    }
</script>

{#    获取留言列表#}
<script type="text/javascript">
    $(document).ready(function(){
        $("#contact").click(function()
        {
            getMessageList();
        })
    })
    function getMessageList() {
        $.ajax({
            url: "/getMessageList/",
            type: "POST",
            contentType: "application/x-www-form-urlencoded;charset=UTF-8",
            data: {},
            dataType:"json",
            success: function (data) {
                $("#messageList").html("");
                for(let i = 0;i < data.length;i ++){
                    var num = Math.floor(Math.random() * 5) + 1;
                    $("#messageList").append("<li>\n" +
                        "                    <div class='div_left'><img src='/static/assets/images/profile/profile_" + num + ".jpg' alt='tupian' width = '50' height = '50'>" +data[i][1] + "</div>\n" +
                        "                    <div class='div_right'>\n" +
                        "                        <p>留言道：" +data[i][2] +"</p>\n" +
                        "                        <div class='twit_item_time'>" + data[i][5]+"</div>\n" +
                        "                    </div>\n" +
                        "                <br><hr></li>");
                }
            }
        })
    }
</script>

{#    验证码#}
<script type="text/javascript">
    $(function() {
            $('#mpanel').codeVerify({
                type: 1,
                width: '80px',
                height: '27px',
                fontSize: '18px',
                codeLength: 4,
                btnId: 'send', // 登陆按钮ID
                ready: function() {},
                success: function() {
                    // 验证成功之后调用登陆方法
                    Send();
                },
                error: function() {
                    alert("验证码错误");
                }
            });

        });
</script>
</body>
</html>